# Ignore project modules and files(not needed for submission)
model/
training/
utils/
tabular output/
main.py

############################################
# Python Bytecode
############################################

__pycache__/
*.py[cod]
*$py.class

############################################
# Virtual Environment
############################################

venv/
.env/
.envrc/
.venv/

############################################
# Operating System Files
############################################

.DS_Store
Thumbs.db

############################################
# IDE / Editor
############################################

.vscode/
.idea/
*.swp
*.swo

############################################
# Logs
############################################

outputs/logs/
*.log

############################################
# Model Checkpoints
############################################

outputs/checkpoints/
*.pt
*.pth
*.ckpt

# ============================================================
# Dataset files (large — should NOT be pushed)
# ============================================================

data/
*.tar.gz
*.zip
*.csv
*.h5
*.pt
*.pth

# Specifically your CIFAR directory
data/cifar-10-batches-py/

############################################
# Temporary Training Outputs
############################################
outputs/checkpoints/
outputs/logs/
outputs/tabular output/
*.csv
*.json

############################################
# Python Testing / Coverage
############################################

.coverage
.pytest_cache/

############################################
# Build / Distribution
############################################

build/
dist/
*.egg-info/

############################################
# Jupyter Notebook Checkpoints
############################################

.ipynb_checkpoints/

# ============================================================
# Profiling / temp files
# ============================================================

*.prof
*.tmp